<div class="sidebar pe-4 pb-3 bg-nav">
    <nav class="navbar bg-nav navbar-light">
        <a href="index.html" class="navbar-brand mx-1 mb-3">
            <h3 class="text-primary"><i class="fa fa-heart-o me-2"></i>Manage VietStore</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div
                    class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Xin chào</h6>
                <span class="text-danger">Như Việt</span>
            </div>
        </div>
        <div class="navbar-nav w-100 bg-nav">
            <a href="/" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Bảng điều
                khiển</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-book me-2"></i>Quản lý danh mục</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="button.html" class="dropdown-item">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        Danh sách danh mục</a>
                    <a href="typography.html" class="dropdown-item">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Thêm danh mục</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-book me-2"></i>Quản lý sách</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/sach" class="dropdown-item">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        Danh sách sách</a>
                    <a href="typography.html" class="dropdown-item">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Thêm sách</a>
                </div>
            </div>
        </div>
    </nav>
</div>